:root {
    background-color: #000000;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
}

.display {
    display: flex;
    height: 30px;
    width: fit-content;
    background-color: aquamarine;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.container {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 50px;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 100px;
    background-color: rgb(47, 89, 179);
    color: rgb(246, 174, 255);
    transition: background-color 0.3s, transform 0.2s;
}

.field:hover {
    background-color: rgb(83, 123, 211);
    transform: scale(1.03);
}

button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(25, 44, 85);
    color: azure;
    font-size: 20px;
    font-weight: 900;
}

button:hover {
    background-color: rgb(36, 58, 107);
    color: aquamarine;
}